.notasks {
  margin: 150px auto;
  text-align: center;
  font-weight: 600;
  letter-spacing: 2px;
  color: #52545f;
}
.card-info-v {
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  margin: 18px 0px 0px 0px;
  justify-content: space-between;
}
.task-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
  grid-gap: 15px;
  margin: 15px;
}
.task-card {
  position: relative;
  width: 100%;
  height: 120px;
  background-color: #dadde7;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  overflow: hidden;
}
.task-card .card-desc {
  width: calc(100% - 10px);
  height: 20px;
  padding: 0px 5px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}
.task-card .card-todo {
  width: calc(100% - 10px);
  height: 20px;
  padding: 0px 5px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.card-checkbox {
  position: relative;
  background-color: #ffffff;
  width: 20px;
  height: 20px;
  margin: 0px 15px;
}
.card-checkbox-fix {
  position: relative;
  background-color: #316cbc;
  border-radius: 10px;
  width: 10px;
  height: 8px;
  margin: auto 25px;
}
.card-name {
  position: relative;
  color: #52545f;
  width: 200px;
  font-size: 24px;
  font-weight: 400;
  overflow: hidden;
}
.card-options {
  position: relative;
  margin: 0px 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.tasks-done {
  height: 50px;
  font-weight: 600;
  text-align: center;
  letter-spacing: 2px;
  color: #52545f;
  margin: 20px 40px;
  border-top: solid 1px #52545f;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (max-width: 950px) {
  .task-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-gap: 15px 10px;
    margin: 15px;
  }
}
@media (max-width: 768px) {
  .task-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-gap: 15px 10px;
    margin: 40px;
  }
}
